<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
	<style>
.ui-button-text {
	font-size: 24px;
}
</style>

</h:head>
<body>
	<h:form>

		<div style="display: block; padding-top: 30px;">
			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>

			<p:link href="http://localhost:8080/SimuladorPrevidencia/index.xhtml" rendered="#{loginBB.exibirLinkLogin}">Fazer Login</p:link>
			<p:accordionPanel style="width:600px;margin: 0 auto;">
				<p:tab title="Cadastrar nova senha">
					<h:panelGrid columns="3" cellpadding="5">

						<p:outputLabel value="Nova senha:" />
						<p:password id="password" binding="#{passwordComponent}" value="#{loginBB.userAutentication.password}" required="true" requiredMessage="Por favor, entre com a senha"
							validatorMessage="Please enter at least 8 characters">
						</p:password>
						<h:message for="password" />

						<p:outputLabel value="Redigitar a senha:" />
						<p:password id="confirmPassword" required="#{not empty passwordComponent.value}" requiredMessage="Por favor, confirme a senha">
							<f:validator validatorId="equalsValidator" />
							<f:attribute name="otherValue" value="#{passwordComponent.value}" />
						</p:password>
						<h:message for="confirmPassword" />

					</h:panelGrid>
					<p:commandButton value="Solicitar nova Senha" action="#{loginBB.registerNewPassword}" style="margin-right: 20px;margin-left: 200px" ajax="false">

					</p:commandButton>
				</p:tab>
			</p:accordionPanel>


		</div>
	</h:form>

	<script>
		
	</script>
</body>
</html>
