<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
	<style>
.ui-button-text {
	font-size: 24px;
}
</style>

</h:head>
<body>
	<h:form>

		<div style="display: block; padding-top: 30px;">
			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>

			<p:panel  cellpadding="10" header="Cadastrar Locais" style="width:600px;margin: 0 auto;">
			<p:panelGrid columns="2">
				<p:outputLabel value="Descrição do Local" />
				<p:selectOneMenu id="console" value="#{selectOneMenuView.console}" style="width:125px">
					<f:selectItem itemLabel="Selecione" itemValue="" />
					<f:selectItem itemLabel="Sala" itemValue="1" />
					<f:selectItem itemLabel="Sala de Reunião" itemValue="2" />
					<f:selectItem itemLabel="Sala com videoconferência" itemValue="3" />
					<f:selectItem itemLabel="Lounge" itemValue="4" />
				</p:selectOneMenu>


				<p:outputLabel value="Endereço" />
				<p:inputText title="asd" value="#{loginBB.user.userName}"></p:inputText>

				<p:outputLabel value="Estado:" />
				<p:inputText title="asd" value="#{loginBB.user.userName}"></p:inputText>

				<p:outputLabel value="Cidade:" />
				<p:inputText title="asd" value="#{loginBB.user.userName}"></p:inputText>

				<p:outputLabel value="Quantidade de mesas:" />
				<p:inputText title="asd" value="#{loginBB.user.userName}"></p:inputText>
			</p:panelGrid>
			</p:panel>
			<p:commandButton value="Cadastrar" actionListener="#{loginBB.registerAdministrador}" style="margin-left: 200px;margin-top: 30px;"></p:commandButton>

		</div>
	</h:form>
</body>
</html>
