<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
<style>
.ui-button-text{
   font-size:24px;
}
</style>

</h:head>
<body>
	<h:form>
		<div style="display: block;padding-top: 30px;">
			<h:panelGrid columns="1" cellpadding="10" style="background-color:LightGray;width:40%;margin: 0 auto;text-align:center">
				<p:outputLabel value="Mesa Livre" style="font-size:60px;background-color:LightGray;text-transform: uppercase;" />
			</h:panelGrid>

			<p:panel header="Escolha a área que desejada acessar" style="width:40%;margin: 0 auto;text-align:center">
				<p:commandButton value="Administrador" action="paginas/administrador" style="margin-right: 20px"></p:commandButton>
				<p:commandButton value="RH" action="paginas/rh" style="margin-right: 20px"></p:commandButton>
				<p:commandButton value="Profissional" action="paginas/profissional"></p:commandButton>
			</p:panel>

		</div>
	</h:form>
</body>
</html>
