<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
<style>
.ui-button-text{
   font-size:24px;
}
</style>

</h:head>
<body>
	<h:form>

		<div style="display: block; padding-top: 30px;">
			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>

			<p:accordionPanel style="width:40%;margin: 0 auto;">
				<p:tab title="Autenticar">
					<h:panelGrid columns="2" cellpadding="10">
						<h:outputText value="Usuário:" />
						<h:inputText title="asd" value="#{loginBB.userAutentication.userName}"></h:inputText>
						<h:outputText value="Senha:" />
						<h:inputSecret value="#{loginBB.userAutentication.password}"></h:inputSecret>
					</h:panelGrid>
					<p:commandButton value="Entrar" action="#{loginBB.autentication}" style="margin-right: 20px;"></p:commandButton>
					<p:commandButton value="Esqueci minha senha" action="#{loginBB.changePassword}"></p:commandButton>
				</p:tab>
				<p:tab title="Cadastrar">
					<h:panelGrid columns="2" cellpadding="10">
						<p:outputLabel value="Razão Social:" />
						<p:inputText title="asd" value="#{loginBB.user.companyName}"></p:inputText>

						<p:outputLabel value="CNPJ:" />
						<p:inputMask mask="99.999.999/9999-99" title="asd" value="#{loginBB.user.CNPJ}"></p:inputMask>

						<p:outputLabel value="E-mail:" />
						<p:inputMask id="email" value="#{loginBB.user.email}"></p:inputMask>


						<p:outputLabel value="Usuário:" />
						<p:inputText title="asd" value="#{loginBB.user.userName}"></p:inputText>

						<p:outputLabel value="Senha:" />
						<p:password value="#{loginBB.user.password}"></p:password>

					</h:panelGrid>
					<p:commandButton value="Cadastrar" actionListener="#{loginBB.cadastrar}" style="margin-right: 20px;"></p:commandButton>
					<p:commandButton value="Limpar" action="#{loginBB.autenticar}"></p:commandButton>
				</p:tab>
			</p:accordionPanel>

			<p:panel header="Escolha a área que desejada acessar" style="width:40%;margin: 0 auto;">
				<p:commandButton value="Autenticar" action="#{loginBB.areaAdministrador}"></p:commandButton>
				<p:commandButton value="Cadastrar" action="#{loginBB.areaRH()}"></p:commandButton>
			</p:panel>

		</div>
	</h:form>
</body>
</html>
