<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
<style>
.ui-button-text{
   font-size:24px;
}
</style>

</h:head>
<body>
	<h:form>

		<div style="display: block; padding-top: 30px;">
			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>

			<p:accordionPanel style="width:40%;margin: 0 auto;">
				<p:tab title="Alterar Senha">
					<h:panelGrid columns="2" cellpadding="10">
						<h:outputText value="E-mail:" />
						<h:inputText title="e-mail" value="#{loginBB.userAutentication.userName}"></h:inputText>
					</h:panelGrid>
					<p:commandButton value="Solicitar nova Senha" action="#{loginBB.alterarSenha}" style="margin-right: 20px;"></p:commandButton>
				</p:tab>
			</p:accordionPanel>


		</div>
	</h:form>
</body>
</html>
