<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui">

<h:head>
	<style>
.ui-button-text {
	font-size: 24px;
}
</style>

</h:head>
<body>
	<h:form>

		<div>
			<div id="backdrop" style="z-index: 1; position: absolute; top: 0px; left: 0px;">
				<img alt="" src='/backdrop.png' />
			</div>
			<div id="curtain" style="z-index: 2; position: absolute; top: 0px; left: 0px; background-image: url(/curtain.png); background-position: 100px 200px; height: 250px; width: 500px;">&nbsp;</div>
		</div>

		<div style="display: block; padding-top: 30px;">

			<p:messages id="messages" showDetail="true" closable="true">
				<p:autoUpdate />
			</p:messages>

			<h:panelGrid columns="1" cellpadding="10" style="background-color:LightGray;width:600px;margin: 0 auto;text-align:center">
				<p:outputLabel value="Mesa Livre" style="font-size:60px;background-color:LightGray;text-transform: uppercase;" />
			</h:panelGrid>

			<p:panel header="Escolha a área que desejada acessar" style="width:600px;margin: 0 auto;text-align:center">
				<p:commandButton value="Administrador" action="paginas/administrador" style="margin-right: 20px"></p:commandButton>
				<p:commandButton value="RH" action="paginas/rh" style="margin-right: 20px"></p:commandButton>
				<p:commandButton value="Profissional" action="paginas/profissional"></p:commandButton>
			</p:panel>

		</div>
	</h:form>
</body>
</html>
